<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">


    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-8 offset-2">
            <form th:object="${recipe}" th:action="@{/recipes/}" method="post">
                <input type="hidden" th:field="*{id}"/>

                <div class="card text-bg-primary">
                    <div class="card-header bg-primary">
                        <h1>Edit Recipe Information</h1>
                    </div>
                    <div class="card-body text-bg-light">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Recipe Description:</label>
                                <input type="text" class="form-control" th:field="*{description}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Categories:</label>
                            </div>
                            <div class="col-md-9 form-group">
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" value=""/>
                                        Cat 1
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" value=""/>
                                        Cat 2
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Prep Time:</label>
                                <input type="text" class="form-control" th:field="*{prepTime}"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Cooktime:</label>
                                <input type="text" class="form-control" th:field="*{cookTime}"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Difficulty:</label>
                                <select class="form-control" th:field="*{difficulty}">
                                    <option value="EASY">Easy</option>
                                    <option value="MODERATE">Medium</option>
                                    <option value="HARD">Hard</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label>Servings:</label>
                                <input type="text" class="form-control" th:field="*{servings}"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Source:</label>
                                <input type="text" class="form-control" th:field="*{source}"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>URL:</label>
                                <input type="text" class="form-control" th:field="*{url}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="card text-bg-primary">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col-md-11 ">
                                <h1 class="panel-title">Ingredients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-danger" href="#" role="button">Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-bg-light">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:each="ingredient : ${recipe.ingredients}"
                                        th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.unitOfMeasure.getUom() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="card text-bg-primary">
                    <div class="card-header bg-primary">
                        <h1>Directions</h1>
                    </div>
                    <div class="card-body text-bg-light">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="card text-bg-primary">
                    <div class="card-header bg-primary">
                        <h1>Notes</h1>
                    </div>
                    <div class="card-body text-bg-light">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control" rows="3" th:field="*{note.recipeNotes}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>