<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">


    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card text-bg-primary">
                <div class="card-header bg-primary">
                    <div class="d-flex">
                    <span class="pull-left col-10">
                        <h3>Ingredients for <span th:text="${recipe.description}"></span> !</h3>
                    </span>
                        <span class="pull-right col-2">
                         <a class="btn btn-success " th:href="@{'/recipes/'+${recipe.id}+'/ingredients/create'}">Create
                    </a>
                    </span>
                    </div>
                </div>
                <div class="card-body text-bg-light">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <table class="table table-hover">
                            <thead class="table-light">
                            <th>Id</th>
                            <th>Description</th>
                            <th class="text-center">View</th>
                            <th class="text-center">Update</th>
                            <th class="text-center">Delete</th>
                            </thead>
                            <tbody>
                            <tr th:each="ingredient : ${recipe.ingredients}">
                                <td th:text="${ingredient.id}"></td>

                                <td th:text="${ingredient.description}"></td>
                                <td class="text-center"><a class="btn btn-info" th:href="@{'/recipes/'+${recipe.id}+'/ingredients/'+${ingredient.id}+'/show'}">View</a></td>
                                <td class="text-center"><a class="btn btn-warning" th:href="@{'/recipes/'+${recipe.id}+'/ingredients/'+${ingredient.id}+'/update'}">Update</a></td>
                                <td class="text-center"><a class="btn btn-danger" th:href="@{'/recipes/'+${recipe.id}+'/ingredients/'+${ingredient.id}+'/delete'}">Delete</a></td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                    <a th:href="@{'/recipes/'+${recipe.id}+'/show'}" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>