<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>400 Bad Request</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">


    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid mt-5">
    <div class="row">
        <h2>400 Bad Request</h2>
        <span th:text="${e.message}"></span>
    </div>
</div>
</body>
</html>